
@{
                /**/

                Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="row">
    <div class="col-7">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Custom Speech Endpoint:</span>
            </div>
            <input type="text" class="form-control" id="endpointUrl" aria-describedby="basic-addon3">
        </div>
    </div>
    <div class="col-5">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Subscription Key:</span>
            </div>
            <input type="text" class="form-control" id="key" aria-describedby="basic-addon3">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-7">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">LUIS Endpoint:</span>
            </div>
            <input type="text" class="form-control" id="LUISendpointUrl" aria-describedby="basic-addon3">
        </div>
    </div>
    <div class="col-5">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Subscription Key:</span>
            </div>
            <input type="text" class="form-control" id="LUISkey" aria-describedby="basic-addon3">
        </div>
    </div>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col-1">
        <button type="button" class="btn btn-primary">Battle!</button>
    </div>
    <div class="col"></div>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col-3">
        <img src="https://media.giphy.com/media/vf3LO38xXNRrq/giphy.gif" style="max-width: 200px;" />
    </div>
    <div class="col-2 text-center">
        - vs -
    </div>
    <div class="col-3">
        <img src="https://media.giphy.com/media/12AEU1LngZId4A/giphy.gif" style="max-width: 200px;" />
    </div>
    <div class="col"></div>
</div>





